/*
    Color Palette 

        1C7B77
        7FA498
        F2F6E6
        EBE0A0
        EC9A8E
                    */

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1C7B77;
    height: 100vh;
}

/* GRID MAIN CONTAINER*/
main
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% auto;
    grid-template-areas: 
        "new-task title date-time"
        "tasks-container tasks-container tasks-container";
    
    width: 90vw;
    height: 90vh;
    
    background-color: #F2F6E6;
    border-radius: 5px;
    box-shadow: 0 0 25px #000;
    overflow: hidden;
}

/* GRID AREAS */
#new-task
{
    width: 100%;
    height: 100%;
    grid-area: new-task;
    display: flex;
    flex-direction: row;
}

#new-task button
{
    color: #555;
    background-color: #f2f6e6;
    border: none;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    width: 100px;
    height: 100px;
    margin: 30px 0px 0px 10px;
    box-shadow: 0 0 0.5px #555;
    letter-spacing: 1px;
    
    transition: border 0.7s ease-out, box-shadow 0.5s ease-in, color 1s ease-out, letter-spacing 1s ease-out;
}

#new-task button:hover
{
    border: 3px solid #000;
    box-shadow: 0 0 10px #555;
    color: #000;
    letter-spacing: 1.75px;
} 

#new-task #show-fin-tasks
{
    font-size: 80%;
}

#title
{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title input
{
    font-weight: 300;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #404040;
    border: none;
    background-color: inherit;
    text-align: center;
}

#date-time
{
    grid-area: date-time;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    margin: 10px 10px 0px 0px;
}

#date-time h3
{
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 2px;
}

#date-time h3:first-of-type
{
    margin-bottom: 5px;
}

/* TASK AND FINISHED TASK DIV STANDARD */
.div-standard
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: scroll;
}

#tasks-container
{
    grid-area: tasks-container;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding-bottom: 50px;
    overflow: scroll;
}

.task-div
{
    background-color: #EBE0A0;
    width: 90%;
    height: 100px;
    border: 1px solid #555;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 10px;
    transition: border 0.3s ease-in, box-shadow 0.5s ease-in;
    
}

.task-div:hover
{
    border: 2px solid #000;
    box-shadow: 0 0 20px #555;
}

.task-div span
{
    min-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.option-menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.option-menu button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    background-color: inherit;
}

/*Delete and finish buttons*/
.in-option-button
{
    border: 1px solid #555;
    transition: border 0.5s, box-shadow 0.5s;
}

.in-option-button:hover
{
    border: 1px solid #000;
    box-shadow: 0px 0px 10px #000;
}

.finish-button:active
{
    background-color: #b2ebb2;
}

.delete-button:active
{
    background-color: #EC9A8E;
}

.option-menu img
{
    width: 25px;
    height: 25px;
}

.task-input
{
    border: none;
    background-color: inherit;
    color: inherit;
    text-align: center;
    align-content: center;
    width: 90%;
    height: 50%;
    resize: none;
}

#fin-container
{
    grid-area: fin-container;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    margin: 0px 10px 10px 10px;
    background-color: #1C7B77;
    box-shadow: inset 0 0 25px #000;
    border-radius: 2px;
}

#fin-task-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 50px 0px;
}

#fin-task-header h2
{
    text-align: center;
    font-size: 130%;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F2F6E6;
    text-shadow: 0 0 25px #000;
}

#fin-tasks
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: scroll;
    width: 85%;
    margin-bottom: 25px;
    height: 100%;
}

.fin-task-div
{
    color: #F2F6E6;
    background-color: #1C7B77;
    width: 95%;
    height: 20%;
    
    margin: 10px 0px;
    padding: 10px;
}

.fin-task-div:hover
{
    border: 1px solid #F2F6E6;
    border-radius: 2px;
}

.fin-task-div span
{
    height: auto;
    min-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}